<!DOCTYPE html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- --------- -->
    <title>web food tp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- --------- -->
    <link rel="shortcut icon" type="image/png" href="../public/favicon_io/favicon-32x32.png"/>

    <!---------------------->
    <link rel="stylesheet" href="../style/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Lobster&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="container-bar-logo">
      <div id="logo">
        <p>FOOD TP</p>
      </div>
      <div id="bar">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="../views/sign.html">About</a></li>
            <li><a href="https://www.facebook.com/">Contaxt</a></li>
            <li><a href="#">Setting</a></li>
            <li> <span class="fas fa-bars"></span></li> 
            </ul>
      </div>

    </div> 
    <div class="container-banner">
      <div id="banner-1">
        <img src="../public/images/banner-1.jpg"></img>
        <p>Nhà Hàng Ẩm Thực Việt</p>
      </div>
    </div> 
    <div class="gird-menu">
      <div class="item">
        <img src="../public/images/pexels-askar-abayev-5638268.jpg"/>
        <p>Bánh kem</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-foodie-factor-566566.jpg"/>
        <p>Cốc</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-lisa-1279330.jpg"/>
        <p>Mì Ý</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-pixabay-315755.jpg"/>
        <p>Pizza</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-polina-tankilevitch-6419702.jpg"/>
        <p>Bánh</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-polina-tankilevitch-6419704.jpg"/>
        <p>Xiên nướng</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-polina-tankilevitch-6419731.jpg"/>
        <p>Khoai chiên</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-polina-tankilevitch-6419736.jpg"/>
        <p>Trái cây</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-rajesh-tp-1624487.jpg"/>
        <p>Cơm rang gà</p>
      </div>
      <div class="item">
        <img src="../public/images/pexels-william-choquette-2641886.jpg"/>
        <p>Xiên nướng thập cẩm</p>
      </div>
    </div>
    <div class="feedback">
      <div class="titel-feedback">
        <p>Recomment:</p>
      </div>
      <div class="feedback-user">
        <p>Everyone will have their own way to relax, relax, relieve stress and fatigue. For me, the most interesting thing is to enjoy the food that I love. Among my favorites, not to mention fried chicken. Fried chicken is almost impossible to become familiar with in a busy life. It is often the main dish at fast food restaurants and is also something that not only adults but also children love. The chicken pieces will be coated with a layer of flour, then fried. When you eat, you will see the crispness of the fried dough and the tenderness of the chicken. The delicious taste with a little French fries or salad will </p>
      </div>
    </div>
   
  </body>
</html>
