body {
  background-image: linear-gradient(
      rgba(236, 228, 111, 0.3),
      rgba(204, 81, 198, 0.3)
    ),
    url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* ----------  */
.container-oder {
  margin-top: 18%;
  margin-left: 30%;
  max-width: fit-content;
  min-width: 300px;
  height: fit-content;
  border: 2px solid greenyellow;
  border-radius: 10px;
  padding: 5px;
}

.container-oder h1 {
  color: white;
  font-family: "Playfair Display", serif;
  margin: 0px;
  border-bottom: 2px dotted greenyellow;
}
.container-oder h1 span{
    color: greenyellow;
    margin-right: 10px;
}
.container-oder p{
    color: white;
}

/* ------- */
